/* input[type='submit'], button, [aria-label] {
  cursor: pointer;
} */

table {
  font-family: Arial, sans-serif;
  border: 1px solid;
  border-collapse: separate;
}

th {
  background-color: rgb(126, 123, 123);
  padding: 5px;
}

td {
  border: 1px solid;
  padding: 5px;
}

body {
  background-color: black;
  color: wheat;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

/* 